#wrapper {
    background-color: #2cb3f3;
    color: white;
    font-family: Menlo, monospace;
    width: 100%;
    min-height: 1500px;
    padding-top: 25px;
}

.container {
    display: block;
    width: 90%;
    margin: auto;
}

h2{
    display: block;
    text-align: right;
    font-size: 36px;
    margin: auto 350px;
}

table {
    table-layout: auto;
    width: 180px;
    border: 3px solid #ffffff;
    border-collapse: collapse;
    margin-left: 75px;
    margin-top: 50px;
}

#haveToTable caption {
    font-size: 22px;
    font-weight: bold; 
}

#needToTable {
    margin-top: 25px;
}

#needToTable caption {
    font-size: 22px;
    font-weight: bold;
}

#wantToTable {
    margin-top: 25px;
}

#wantToTable caption {
    font-size: 22px;
    font-weight: bold;
}

th {
    height: 35px;
    font-size: 18px;
    font-style: italic;
}

tr td{
    height: 20px;
    font-size: 18px;
    text-align: center;
}

td:first-child{
    text-align: left;
    padding-left: 10px;
}

th, tr, td {
    border: 1px solid #033678;
    border-collapse: collapse;
}

tr:hover {
    background-color: #dedbda;
}

tr > td > input {
    width: 20px;
    height: 20px;
}

#new_task_button {
    margin-top: 30px;
    margin-left: 73%;
    background-color: white;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#new_task_button, a {
    color: #2cb3f3;
    font-size: 16px;
    text-decoration: none;
}

#logout_button {
    margin-top: 30px;
    margin-left: 75%;
    background-color: white;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#logout_button, a {
    color: #2cb3f3;
    font-size: 16px;
    text-decoration: none;
}