#wrapper{
    background-color: #2cb3f3;
    font-family: Menlo, monospace;
    height: 1500px;
    width: 100%;
    padding-top: 25px;
}

img {
    display: block;
    width: 30%;
    height: 300px;
    margin: 20px auto;
    border-radius: 50%;
}

h2 {
    font-size: 24px;
    margin-left: 10px;
}

.main {
    display: block;
    width: 50%;
    margin: auto;
}

.form-group {
    column-count: 2;
    font-size: 18px;
    color: white;
}

label {
    display: block;
    margin: 5px auto;
}
input {
    width: 80%;
    margin: 5px auto;
    padding: 10px 5px 10px 5px;
}

button {
    background-color: #033678;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 400px;
}