<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}"">
  </head>
  <body>
    <div id="wrapper">
      <img src="/static/img/S1_Freelance_Work.jpg">
        <h1>Will To List</h1>
          <div class="main_body">
            <p>Finally, a to-do list that works...</p>
            <p>Your WILL is your determination to accomplish anything.</p>
            <p>Why not apply it to your to-do list?</p>
            <p>After scoring questions based on your will about your task, your tasks are prioritized inline with your WILL.</p>
          <div class="buttons">
            <button id="login_button"><a href="login_page">Login</a></button>
            <button id="new_user_button"><a href="registration">New User</a></button>
          </div>
    </div>
  </body>
</html>