<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Success</title>
  </head>
  <body>
    <h3>Welcome, {{first_name}}</h3>
    <h5>Do you have the WILL today?</h5>
        <table>
            <tr>
                <th>Name:</th>
                <th>Username:</th>
                <th>Email:</th>
            </tr>
            <tr>
                <td>{{First_name}}{{Last_name}}</td>
                <td>{{Username}}</td>
                <td>{{Email}}</td>
            </tr>
        </table>
        <button type="button" id="view_tasks_success" ahref="task_list">View Task List</button>
        <button id="new_away.buutton">New Task</button>
  </body>
</html>